{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Register</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!-- fonts awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <div class="custom_menu-btn">
          <button onclick="openNav()">
            <span class="s-1"> </span>
            <span class="s-2"> </span>
            <span class="s-3"> </span>
          </button>
        </div>
        <div id="myNav" class="overlay">
          <div class="menu_btn-style ">
            <button onclick="closeNav()">
              <span class="s-1"> </span>
              <span class="s-2"> </span>
              <span class="s-3"> </span>
            </button>
          </div>
          <div class="overlay-content">
            <a class="active" href="/">
              Home
            </a>
            <a class="" href="about">
              About
            </a>
            
            <a class="" href="register">
              Register
            </a>
            <a class="" href="login">
              Login
            </a>
          </div>
        </div>
        <a class="navbar-brand" href="/">
          <span>
            CyberBullying
          </span>
        </a>
        <div class="user_option">
          <form class="form-inline">
            <button class="btn  nav_search-btn" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
          <a href="login">
            <i class="fa fa-user" aria-hidden="true"></i>
          Login </a>
        </div>
        <div class="name_style">
          <h6>
            C 
            y 
            b 
            e 
            r 
            b 
            u 
            l 
            l 
            y 
            i 
            n 
            g
            
          </h6>
        </div>
      </nav>
    </header>
    <!-- end header section -->
  <!-- contact section -->
  </div>

  <section class="contact_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 col-lg-4 offset-md-1 offset-lg-2">
          <div class="form_container">
            <div class="heading_container">
              <h2>
                Signup
              </h2>
            </div>
            <form method="post">
              {% csrf_token %}
              <div>
                <input type="text" name="first" placeholder="First Name " />
              </div>
              
              <div>
                <input type="text" name="last" placeholder="Last Name " />
              </div>
              
              <div>
                <input type="text" name="username" placeholder="User Name " />
              </div>
              <div>
                <input type="email" name="email" placeholder="Email" />
              </div>
              <div>
                <input type="password" name="psw" placeholder="Password" />
              </div>
              <div>
                <input type="password" name="psw1"  placeholder="Confirm Password" />
              </div>
              <div class="d-flex ">
                <button>
                 Register
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6  px-0">
          <div class="map_container">
            <!--<div class="map">
              <div id="googleMap"></div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->


  

  <!-- end info section -->

  <!-- footer section -->
  
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
  <!-- End Google Map -->

{% for i in messages %}
<script>alert({{"i"}})</script>
{% endfor %}

</body>

</html>